<html>
<head>
  <script type="text/javascript" src="/assets/jquery.handsontable.full.js"></script>
  <link type="text/css" href="/assets/jquery-ui.css" rel="stylesheet"></link>
  <link type="text/css" href="/assets/jquery.handsontable.full.css" rel="stylesheet"></link>
  <link type="text/css" href="/assets/admin-cadidates.css" rel="stylesheet"></link>
</head>
<body>

   <input id="save" type="button" value="Save"></input>
  <input id="search-box" placeholder="Search .."></input>

  <div id="users-list" class="handsontable"></div>

<script type="text/javascript" src="/assets/adminPage.js"></script>
<script type="text/javascript">
  $(function(){
     adminPage.initialize();
  });
</script>
</body>
</html>