<html>
<head>
  <link type="text/css" href="/assets/jquery-ui.css" rel="stylesheet"></link>
  <link type="text/css" href="/assets/jquery.handsontable.full.css" rel="stylesheet"></link>
  <link type="text/css" href="/assets/admin-cadidates.css" rel="stylesheet"></link>
  <%= javascript_include_tag "jquery.handsontable.full"%>
  <%= csrf_meta_tags %>
</head>
<body>

   <input id="save" type="button" value="Save"></input>
  <input id="search-box" placeholder="Search .."></input>

  <div id="users-list" class="handsontable"></div>

   <%= javascript_include_tag "adminPage"%>
</body>
</html>