<html>
<head>
  <script type="text/javascript" src="/assets/jquery.handsontable.full.js"></script>
  <link type="text/css" href="/assets/jquery.handsontable.full.css" rel="stylesheet"></link>
  <link type="text/css" href="/assets/admin-cadidates.css" rel="stylesheet"></link>
</head>
<body>

  <input class="search-box" placeholder="search .."></input>

  <div id="users-list" class="handsontable"></div>

<script type="text/javascript" src="/assets/spreadSheet.js"></script>
</body>
</html>