<html>
<head>
  <script type="text/javascript" src="jquery.handsontable.full.js"></script>
  <link type="text/css" href="jquery.handsontable.full.css" rel="stylesheet"></link>
</head>
<body>
<div id="users-list" class="handsontable"></div>
</body>
</html>