.course-piechart {
    width: 850px;
    border: 1px solid;
    height: 450px;
    position: relative;
    right: -132px;
}

.course-piechart .nv-label{
    display: none;
}


.nvtooltip h3 {
    display: none;
}