/*
*= require jquery-ui
*= require jquery-progressbar
*= require date-picker
*/
*{
    margin:0;
    padding:0;
}
body{
    background: -webkit-radial-gradient(29% -1%, circle,white, black 140%);
    padding-bottom: 50%;
}

header {
    background-color:#212121;
    box-shadow: 0 -1px 2px #111111;
    color:#fff;
    display:block;
    height:50px;
    position:relative;
    width: 100%;
}
header h2{
    font-size:22px;
    font-weight:normal;
    left:50%;
    margin-left:-400px;
    padding:15px 0;
    position:absolute;
    width:540px;
    padding-top: 17px;

}

h2{
    padding-top: 17px;
    padding-left: 10px;
    padding-bottom: 4px;
}

select{
    width: 218px;
}
.ex-form {
    position:relative;
    width:440px;
    height: 365px;
    font-family:Arial, sans-serif;
    font-size:12px;
    padding:30px;
    background:none;
    background: rgba(150, 150, 150, 0.2);
    zoom: 1;
    }
.upper-left {
    width:50%;
    float:left;
    padding-top: 40px ;
    margin-left: 40px;
}

.upper-right {
    width:40%;
    float:left;
    padding-top: 40px ;
    margin-left: 40px;
}

.ui-progressbar {
    background: #e5e4e3!important;
    border: medium none;
    border-radius: 15px;
    box-shadow: 0 1px 2px #aaa inset;
}
.ui-progressbar .ui-progressbar-value {
    background: none;
    background: -moz-linear-gradient( left, #98c8a9, #e9e1a8 );
    background: -webkit-linear-gradient( left, #98c8a9, #e9e1a8 );
    background: -o-linear-gradient( left, #98c8a9, #e9e1a8 );
    background: -khtml-linear-gradient( left, #98c8a9, #e9e1a8 );
    background: linear-gradient( to right, #98c8a9, #e9e1a8 );

    border: none;
    border-radius: 15px;
    box-shadow: 0 1px 2px #999 inset;
}
#amount {
    position: absolute;
    margin: -19px 0 0 -30px;
    width: 100%;
    font-size: 10px;
    font-weight: bold;
    color: #677764;
    text-align: center;
}
.form-panel fieldset {
    width:430px;
    height:201px;
    margin:0 auto 20px;
    padding:20px 0;
    border: none;
    background:none;
    background: rgba(255, 255, 255, 0.2);
}
.form-panel label, .form-panel .label {
    width: 100%;
    clear: left;
    cursor: pointer;
}
.form-panel .title {
    float:left;
    padding-top:5px;
    margin-right:10px;
    width:130px;
    text-align:right;
    color: #6E6A65;
}
.form-panel .input {
    float: left;
    padding: 3px;
    margin-bottom: 13px;
    border-radius: 12px;
    width: 218px;

    background: none;
    }
.form-panel input, .form-panel textarea {
    float: left;
    padding: 8px 13px;
    margin: -3px;
    width: 240px;
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    color: #9A9895;
    border: 1px solid #D7D6D5;
    cursor: text;
    border-radius: 12px;
    box-shadow: 0 1px 2px #999 inset;
}
.form-panel input:focus, .form-panel textarea:focus {
    padding: 5px 10px;
    margin: 0;
    border-color: #fff;
    box-shadow: none ;
}
.form-panel textarea {
    height: 60px;
}
.ex-form.ui-helper-clearfix.ui-corner-all{
    background: -webkit-radial-gradient(20% 13%, circle,white, black 124%);
}
.ex-form button {
    float:right;
    padding: 15px 20px 14px;
    margin-left: 30px;
    color: #9ca1a2;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    border: 1px solid #fff;
    background: #fff;

    background: -moz-linear-gradient( top, #ffffff, #eaeced );
    background: -webkit-linear-gradient( top, #ffffff, #eaeced );
    background: -o-linear-gradient( top, #ffffff, #eaeced );
    background: -khtml-linear-gradient( top, #ffffff, #eaeced );
    background: linear-gradient( to bottom, #ffffff, #eaeced );

    border-radius: 25px;
    box-shadow: 0 1px 2px #787878;

    cursor: pointer;
}
.ex-form button:hover {
    opacity: 0.8;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}
.ex-form button:disabled {
    cursor: default;
    opacity: 0.6;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
}
#back {
    padding-left: 15px;
}
#back span{
    left: -5px
}
#next {
    padding-right: 15px;
}
#next span{
    right: -5px
}
.ex-form button span {
    position: relative;
    padding: 2px 5px;
    top: -1px;
    background: #FBF9F7;
    border: 1px solid #d9dee0;
    border-radius: 10px;
}

input[type='submit'].submit-button{
    float:right;
    padding: 15px 20px 14px;
    margin-left: 30px;
    color: #9ca1a2;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0 1px 2px #787878;
    height: 40px;
    width: 100px;
    cursor: pointer;
}
