/*
*= require jquery-ui
*= require date-picker
*/
*{
    margin:0;
    padding:0;
}

body{
    /*background: -moz-radial-gradient(29% -1%, circle,white, black 140%);
    background: -webkit-radial-gradient(20% 13%, circle,white, black 124%);
    padding-bottom: 50%;*/
}
header {
    background-color:#212121;
    box-shadow: 0 -1px 2px #111111;
    color:#fff;
    height:50px;
    position:relative;
    width: 100%;
}
h2.text{
	margin-left: 7.5%;
	padding-bottom: 10px;
	margin-top: 3%;
}
header h2{
    font-size:22px;
    font-weight:normal;
    left:10%;
    padding:15px 0;
    position:absolute;
    width:540px;
    padding-top: 17px;
}
.main-container{
	width: 100%;
	height: 500px;	
	padding-top: 40px;
	padding-left: 100px;
	/*background-color: red;	*/
	position: relative;
}
.upper-left {
    width:40%;
    float:left;
    height: inherit;
    /*background-color: green;*/
}

.upper-right{
		
		width:60%;
    float:right;
    height: inherit;
    /*background-color: green;*/
}
.form-panel fieldset {
    width:40%;
    height:inherit;
    border: none;
    background:none;
}
select{
    width: 208px;
}
.form-panel .title {
    float:left;
    /*text-align: right;*/
    margin-right:10px;
    width:185px;
    height: 30px;
    line-height: 0.9;
    color: #090001;
    /*background-color: white;*/
}
.line{
	margin-left: 7%;
	width: 83%;
	height: 1px;
	background-color: lightgrey;
}
.shadow-line{
	margin-left: 7%;
	width: 40%;
	height: 1px;
	background-color: lightgrey;
	box-shadow: 10px 10px 10px 10px lightgrey;
}
.logo-line1{
	width: 8%;
	height: 1px;
	top: 40px;
	left: 72%;
	position: absolute;
	background-color: lightgrey;
}
.logo-line2{
	top: 5%;
	left: 77%;
	position: absolute;
	width: 1px;
	height: 69px;
	background-color: lightgrey;
}
.logo-line3{
	top: 77%;
	left: 45%;
	position: absolute;
	width: 15%;
	height: 1px;
	background-color: lightgrey;
}
.logo-line4{
	top: 67%;
	left: 50%;
	width: 1px;
	height: 100px;
	position: absolute;	
	background-color: lightgrey;
}
.design{
	width: 0px;
	height: 0px;
	border: 10px solid grey;
	border-top-color: lightgrey;
	border-bottom-color: lightgrey;
	background-color: lightgreen;
}
.bottomup{
	opacity: 0.2;
	position: absolute;
	left: 50%;
	bottom: 124px;
}
.bottomdown{
	opacity: 0.2;
	position: absolute;
	left: 50%;
	bottom: 143px;
}
.bottomright{
	opacity: 0.2;
	position: absolute;
	left: 715px;
	bottom: 124px;
}
.topup{
	opacity: 0.2;
	position: absolute;
	right: 320px;
	top: 41px;
}
.topdown{
	opacity: 0.2;
	position: absolute;
	right: 320px;
	top: 61px;
}
.topleft{
	opacity: 0.2;
	position: absolute;
	right: 340px;
	top: 41px;
}

.form-panel .input{
		/*background-color: white;*/
    float: left;
    padding: 3px;
    margin-bottom: 13px;
    border-radius: 12px;
}
img{
	margin: 55px;
}

.image{
	width: 48%;
	margin-left: 15%;	
}
input[type='text']{
    float: left;
    margin: -3px;
    width: 215px;
    height: 29px;
    line-height: 12px;
    border: 1px solid grey;
    color: black;
    padding: 8px 13px;
    border-radius: 9px;
    outline: none;
}

input[type='email']{
    float: left;
    padding: 8px 13px;
    margin: -3px;
    width: 215px;
    border: 1px solid grey;
    height: 29px;
    line-height: 12px;
    font-size: 12px;
    color: black;    
    cursor: text;
    border-radius: 9px;    
    outline: none;
}
input[type='submit'].submit-button{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    margin-left: 47%;
}
.notice{
    color: green;
}
.error{
    color: red;
}
.flash-message{
   margin-left: 197px;
   font-size: large;
}
.user-validation {
  width: 228px;
  padding-left: 200px;
  color: red;
}