.container {
    margin-top: 3px;
    width: 100%;
    border: 2px solid;
    height: 500px;
    position: relative;
    border-color: slategrey;
}

.menu {
    height: inherit;
    width: 10.5%;
    float: left;
    padding-left: 15px;
    border-width: 2px;
    border-right: #000000 solid;
    text-decoration: none;
    background: #6a7176;
    background: -webkit-linear-gradient(-90deg, #6a7176, #4d5256);
    background: -moz-linear-gradient(-90deg, #6a7176, #4d5256);
    background: linear, -90deg, #6a7176, #4d5256;
}

.content {
    background-color: #EEEEEE;
    float: left;
    height: inherit;
    width: 88%;
    overflow: scroll;
}

li:hover > a {
    background: #7b8389 !important;
    color: #ffffff !important;
}

.list {
    list-style: none;
    display: list-item;
    margin: 5px;
}

.custom_ul {
    margin: 0;
    padding-left: 0;
    text-decoration: none;
}

li a:link, a:visited {
    text-decoration: none;
    color: #cdcdcd !important;
    padding: 8.5px 10px 8.5px 10px;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.loading {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url('../loading.gif');
}
